doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body
    div.container
      ol.js-buzzes
        each buzz in buzzes
          li=`${buzz.name}`
      button.js-clear='Clear buzzes'

    table(style='width:100%', border='1').js-players
    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
